<a href="https://colab.research.google.com/github/wdconinc/practical-computing-for-scientists/blob/master/Lectures/lecture03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lecture #03

#Introduction to Python - II

Last time: 
* **Variables:** `a=3` means `a` is another name for the object `3`.
* **Types:** `type()` function. Python is dynamically typed. Ex:`a=3` then `a=16.5` is A-OK.
* **Arithmetic:** 
  * `import math`.  
  * Available functions? `help(math)` or `math[shift+tab]` or `math.[shift]`
* **Reserved words, operators, delimiters and Builtins**

##Defining Functions

Python function definition syntax:

```Python
def f(x) :
    ''' docstring '''
    # indented function body
    return my_value
```

Functions are called as:
```Python
a = 10
result = f(a)
```
Examples:

In [0]:
def f1(x):
    ''' computes the square of x'''
    print(x)
    z = x**2
    return z

y = 8
print(y, "has as its square:", f1(y))

8
8 has as its square: 64

In [0]:
def f2(x,y):
    return x**y

print(f2(2,3))

8

In [0]:
a = 2
x = 4

def f3(x):
    a = 3
    return x**a

print(x,a,f3(2))

4 2 8

##Boolean Expressions

Python has two _boolean_ constants: `True` and `False`

In [0]:
a = True
b = False
c = True
print(a,b,type(a),type(b))

True False <class 'bool'> <class 'bool'>

We can combine them with logical operators:

In [0]:
print((a and b) and c)
print(a or b)
print(not(a))

False
True
False

##Comparisons: getting to the truth

In [0]:
c = 1
d = 2
e = 2
print(c == d)
print(c != d)
print(e == d)
print(c < d)
print(c > d)
print(c < d < e)
print(c < d > e)
print(c <= d)
print(e <= d)

False
True
True
True
False
False
False
True
True

In [0]:
c <= d
e <= d

True

##Flow control: `if`, `elif`, `else`

`if`, `elif` and `else` can be used to choose which block of text to execute:

```
x=0
if boolean_expression:
    # do some stuff
    x=1
elif boolean_expression:
    # do some other stuff
    x=2
else:
    # none of the above true
    # take action
    x=3
```

Examples:

In [0]:
x = 3
if x<0:
    print("x<0")
elif x<2:
    print("0<=x<2")
else:
    print("x>=2")

x>=2

##Exercise: functions and flow control

Write a function `letter_grade` to take in a numerical score in percent and return letter grades according to the following rubric:

letter grade | numerical score (%)
-------------|----------------
A| >=90
B| >=80
C| >=70
D| >=60
F| <60 

Use `if`, `elif`, `else` to control the flow

In [0]:
def letter_grade(pct_score):
    ''' return the letter grade based on the percent score'''
    if(pct_score>=90):
        return 'A'
    elif(pct_score>=80):
        return 'B'
    else:
        return 'F'
print(letter_grade(91))
print(letter_grade(85))
print(letter_grade(75))

A
B
F

In [0]:
help(letter_grade)

Help on function letter_grade in module __main__:

letter_grade(pct_score)
    return the letter grade based on the percent score

##Lists

A list is an ordered set of objects. Created like this:

```Python
L = [obj1, obj2, obj3]
```

In [0]:
L = ['red', 'green', 'blue', 'black', 'white']
print(L)
print(L[1])
print(L[-2]) # go backwards
print(L[2:4]) # get a slice of the list
print(L[:2]) # first arg defaults to zero
print(L[2:]) # second arg defaults to end of list
print(L[::2]) # third argument is the stride (default =1)
print(L[::-1])

['red', 'green', 'blue', 'black', 'white']
green
black
['blue', 'black']
['red', 'green']
['blue', 'black', 'white']
['red', 'blue', 'white']
['white', 'black', 'blue', 'green', 'red']

You can ask lists if they contain an element:

In [0]:
print("blue" in L)
print("magenta" in L)

True
False

You can add and remove elements:

In [0]:
L.append("magenta")
print(L)
a_color = L.pop()
print(a_color)
print(L)

['red', 'green', 'blue', 'black', 'white', 'magenta']
magenta
['red', 'green', 'blue', 'black', 'white']

You can add and multiply lists:

In [0]:
Q = ['mauve', 'indigo', 'charcoal']
U = L + Q
print(U)
U2 = L*2
print(U2)

['red', 'green', 'blue', 'black', 'white', 'mauve', 'indigo', 'charcoal']
['red', 'green', 'blue', 'black', 'white', 'red', 'green', 'blue', 'black', 'white']

Lists can have different types of objects in them:

In [0]:
L = ['red', 3, ['a', 'b'], f1]
print(L[0])
print(L[1])
print(L[2])
print(L[2][1])
print(L[3])
print(L[3](3))
print(L)

def doublelist(L):
  return L*2

print(doublelist([1,2]))

red
3
['a', 'b']
b
<function f1 at 0x7f7718c3dea0>
3
9
['red', 3, ['a', 'b'], <function f1 at 0x7f7718c3dea0>]
[1, 2, 1, 2]

How long is the list?

In [0]:
print(len(L))
L

4

['red', 3, ['a', 'b'], <function __main__.f1>]

#### Want a list of numbers? 

Use the range function:

In [0]:
print(range(10))
print(range(2,8))
print(range(0,10,2))
print(range(10,0,-1))

range(0, 10)
range(2, 8)
range(0, 10, 2)
range(10, 0, -1)

##Loops

<img src="https://imgs.xkcd.com/comics/loop.png" />

Python has two types of loops, `for` and `while`:

```Python 
for item in list:
    # do some stuff
    print(item)


while boolean_expression :
    # do some stuff
    # possibly increment a counter
```

###`for` loops

In [0]:
U = ["red", "blue", "green", "black", "white"]
print(len(U))
print(range(len(U)))
for i in range(len(U)):
    print("i =",i," U[i] =",U[i])

A loop with an index like that is similar to what you'd see in C code:
```C++
double U[3]={1,2,3};
for(int i=0; i<3; i++){
   std::cout<<"i="<<i<<" U[i]="<<U[i]<<std::endl;            
}
```

But, in python there is a better way:

In [0]:
for color in U:
    print(color)

###`break` and `continue`

These keywords can be used to stop the loop early:

In [0]:
for color in U:
    print(color)
    if color == 'black':
        break

or continue onto the next iteration:

In [0]:
for color in U:
    if color == 'black':
        continue
    print(color)

###while loops

In [0]:
i = 1
while i < 100:
    print(i)
    i += i**2
print(i)

###Iterating over multiple lists: `zip`

In [0]:
print(U)
R = range(len(U))
print(R)
print(zip(U,R))
for color,number in zip(U,R):
    print(color, " at ", number)

###Exercise:

Write a function `letter_grade2` to take in a numerical score in percent and return letter grades according to the following rubric:

letter grade | numerical score (%)
-------------|----------------
A| >=90
B| >=80
C| >=70
D| >=60
F| <60 

* Use a loop and lists in the implementation. 
* Use range and a loop to test your function

In [0]:
def letter_grade2(score):
    letter_grades = ['A','B','C','D']
    thresholds = [90,80,70,60]
    lg = 'F'
    for grade,thresh in zip(letter_grades,thresholds):
        if score >= thresh:
            return grade
            
    return lg

for score in range(100,50,-1):
    print(score, letter_grade2(score))

##Bits and Bytes

Before moving on let's talk about how integers are represented in decimal, binary and hex. 

* A `bit` = "binary digit" = 0 or 1. True or False.
* A `byte` = 8 bits. Has $2^8$ = 256 possible values
  * Written, in binary format as, e.g 0b00100110

prefix|bit8|bit7|bit6|bit5|bit4|bit3|bit2|bit1|
-------------------|--------------------
 0b| 128 | 64 |32 |16|8|4|2|1
  
  * Hexadecimal (base 16) format. Made of two 4 bit "nibbles" which are denoted by the numbers 0-9, and the letters A=10, B=11, C=12, D=14, E=14,F=15 

prefix|nibble 2 | nibble 1
---------|---------
0x | 16  | 1

  * Written as 0x##
  * So 0x10 = 16 in decimal. 0x21 = 37, etc
  
* An `int` = 4 bytes on a 32 bit system, 8 bytes on a 64 bit system 
* A `float` = at least 8 bytes

### Exercise: print binary and hex as decimal

Start by doing `help(int)`. There is a way to feed a character string such as '0b00100110' in to make an `int`. Figure out how to use that feature, make an integer variable and use `print` to print it (by default in decimal).

In [0]:
help(int)